body {
  font-family: "Press Start 2P";
}
canvas {
  display: block;
  margin: auto;
}

h1 {
  color: #e9436f;
  font-size: 300%;
  text-shadow: rgb(49, 47, 43) 4px 5px;
}

h2 {
  color: #9a2b53;
  text-shadow: rgb(49, 47, 43) 2px 3px;
}

p {
  width: 50%;
  text-align: center;
  color: #93363b;
  text-shadow: rgb(49, 47, 43) 1px 2px;
}
